/* CSS Styles */

body {
  background-color: #f6f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {

  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  background-color:#e6e6e6;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  background-color: #e6e6e6;
  display: block;
  margin-bottom: 5px;
}

textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #010101;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f6efef;
  border: black;
  border-radius: 4px;
  cursor: pointer;
  text-align: right;
  
  
}
button:last-child {
  margin-right: 0;
}
button:hover {
  background-color: #4dc8db;
}

.error-message {
  color: red;
}

/* Add your custom styles below this line */
